* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: #333;
  text-align:center;
}

#root {
  min-height: 100vh;
}


/* Navbar */

nav {
  background: #c1121f;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav button {
  background: white;
  color: #c1121f;
}


/* Main Card Layout */

.card {
  background: white;
  width: 400px;
  max-width: 90%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  text-align: center;
}


/* Headings */

h1 {
  color: #c1121f;
  margin-bottom: 20px;
}

h3 {
  color: #333;
}


/* Inputs */

input,
select {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}


/* Buttons */

button {
  padding: 10px 20px;
  margin: 8px;
  background: #c1121f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #9d0208;
}


/* Links */

a {
  color: #c1121f;
  text-decoration: none;
}


/* Donor / Receiver information cards */

.donor-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px auto;
  border-radius: 8px;
  width: 90%;
}